/* -- Bars -- */

$bw: 1em; // width
$bh: $bw/(5*$PHI); // thickness
$by: 2*$bh; // y-position

.#{$prefix}-bars {

  width: $bw;
  height: $bh;
  box-shadow: inset 0 0 0 9em, 0 -1*$by, 0 $by;
  border-radius: .04em;

}
