/* -- Check -- */

$unit: 1em;
$masterwidth: 1;
$width: 0.84852813742385702928101323452582; // cos(arctan(1/(2/3))-45)*sqrt($height^2+$width^2)
$height: 2/3*$width;

// this puts us at .2em, to match that of the Times icon
$thickness: 0.23570226039551584146694812070162*$width;

$yoffset: -1 * ($SQRT2/2)*($width - $masterwidth*$SQRT2 + $height)/2 - $masterwidth/2 + $SQRT2/4*($width + $thickness);

.#{$prefix}-check::after {
  width: $width*$unit;
  height: $height*$unit;
  border-width: 0 0 $thickness*$unit $thickness*$unit;
  border-style: solid;
  transform: rotate(-45deg) perspective(9*$unit);
  top: (($masterwidth - $height)/2 + $yoffset)*$unit;
  left: ($masterwidth - $width)/2*$unit;
}
