// Required for all icons

@import "constants";
@import "functions";

// Variables

$prefix: e;

/* -- Common Definitions --*/

.#{$prefix}-bars,
.#{$prefix}-home,
.#{$prefix}-lock,
.#{$prefix}-mail,
.#{$prefix}-search,
.#{$prefix}-loader,
.#{$prefix}-check,
.#{$prefix}-times,
.#{$prefix}-gear,
.#{$prefix}-grid,
.#{$prefix}-heart,
.#{$prefix}-star {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  position: relative;
  width: 1em;
  height: 1em;
}

.#{$prefix}-bars::before,   .#{$prefix}-bars::after,
.#{$prefix}-home::before,   .#{$prefix}-home::after,
.#{$prefix}-lock::before,   .#{$prefix}-lock::after,
.#{$prefix}-mail::before,   .#{$prefix}-mail::after,
.#{$prefix}-search::before, .#{$prefix}-search::after,
.#{$prefix}-loader::before, .#{$prefix}-loader::after,
.#{$prefix}-check::before,  .#{$prefix}-check::after,
.#{$prefix}-times::before,  .#{$prefix}-times::after,
.#{$prefix}-gear::before,   .#{$prefix}-gear::after,
.#{$prefix}-grid::before,   .#{$prefix}-grid::after,
.#{$prefix}-heart::before,  .#{$prefix}-heart::after,
.#{$prefix}-star::before,  .#{$prefix}-star::after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
