// Required for all icons

@import "constants";
@import "functions";

// Variables

$prefix: e;

/* -- Common Definitions --*/

[class*="#{$prefix}-"] {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 1em;
  height: 1em;
}

[class*="#{$prefix}-"]::before,
[class*="#{$prefix}-"]::after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
