// Required for all icons

@import "constants";
@import "functions";

// Variables

$prefix: e;
$container: span;

/* -- Common Definitions --*/

#{$container}[class^="#{$prefix}-"] {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  position: relative;
  width: 1em;
  height: 1em;
}

#{$container}[class^="#{$prefix}-"]::before,
#{$container}[class^="#{$prefix}-"]::after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
