/* -- Search -- */

.#{$prefix}-search {

  width: .8em;
  height: .8em;
  position: relative;
  top:-.1em;
  border: .15em solid;
  border-radius: 50%;

  &::before {
    width: .15em;
    height: .5em;
    position: absolute;
    box-shadow: 0 0 0 2em inset;
    border-radius: 0 0 .075em .075em;
    transform: rotate(-45deg);
    top: .4em;
    left: .55em;
  }

}
