/* -- Star -- */

$su: 1em; // unit
$sw: 1; // master width


.#{$prefix}-star {


background: white;

  border-right: .5em solid transparent;
  border-top: .5*$TAN36*1em  solid;
color:green;
  border-left: .5em solid transparent;

//top: ($sw - $sw*$COS18)/2 * $su;
top: 1em;
}

.#{$prefix}-star::after {

  border-right: .5em solid transparent;
  border-top: .5*$TAN36*1em solid;
  border-left: .5em solid transparent;
  
  transform: rotate(72deg) perspective(9em);
top: -.5*$TAN36*1em;
left: -.5em ;
transform-origin: 50% 45%;
}


.#{$prefix}-star::before {

  border-right: .5em solid transparent;
  border-top: .5*$TAN36*1em solid;
  border-left: .5em solid transparent;
  transform: rotate(-72deg) perspective(9em);
transform-origin: 50% 45%;

top: -.5*$TAN36*1em;
left: -.5em;
}

