/* -- Star -- */

$su: 1em; // unit
$sw: 1; // master width

.#{$prefix}-star {

  border-left: $sw/2*$su solid transparent;
  border-right: $sw/2*$su solid transparent;
  border-top: $TAN36/2*$sw*$su  solid;
  height: 0;
  top: ($sw/2 - $SIN72/2*$sw + $SIN72/$PHI/$PHI*$sw)*$su;
  margin-top: ($sw/2 - $SIN72/2*$sw + $SIN72/$PHI/$PHI*$sw)*$su;
  margin-bottom: ($sw/2 - $SIN72/2*$sw + $TAN36*$COS72*$sw)*$su;
  transform-origin: 50% $TAN18*$sw/2*100%;

  &::after {
    border-right: $sw/2*$su solid transparent;
    border-top: $TAN36/2*$sw*$su solid;
    border-left: $sw/2*$su solid transparent;
    transform: rotate(72deg) perspective(9em);
    transform-origin: 50% 45%;
    top: -$TAN36/2*$sw*$su;
    left: -$sw/2*$su;
  }

  &::before {
    border-right: $sw/2*$su solid transparent;
    border-top: $TAN36/2*$sw*$su solid;
    border-left: $sw/2*$su solid transparent;
    transform: rotate(-72deg) perspective(9em);
    transform-origin: 50% 45%;
    top: -$TAN36/2*$sw*$su;
    left: -$sw/2*$su;
  }

}

