/* -- Times -- */

$tu: 1em; // unit
$tw: 1; // master icon width
$tl: 1; // length
$tt: .2; // thickness

.#{$prefix}-times::before,
.#{$prefix}-times::after {
  width: $tl * $tw * $tu;
  height: $tt * $tw * $tu;
  box-shadow: inset 0 0 0 9*$tw*$tu;
  top: ($tw - $tt) / 2 * $tu;
  left: ($tw - $tl) / 2 * $tu;
  transform: rotate(45deg);
  border-radius: $tw/16*$tu;
}

.#{$prefix}-times::after { transform: rotate(-45deg); } 
