// Utility Classes

/* -- Rotation classes -- */

$angles: ( 45, 90, 180, 270 );

@each $angle in $angles {
  .#{$prefix}-#{$angle} { transform: rotate(#{$angle}deg); }
}

/* -- Size classes -- */

$sizes: (
  sm: (2/3),
  hlf: .5,
  3rd: (1/3),
  qtr: .25,
  lg: 1.5,
  2x: 2,
  3x: 3,
  4x: 4,
  5x: 5
);

@each $label, $size in $sizes {
  .#{$prefix}-#{$label} { font-size: #{$size}em; }
}


